OPS_EXTERNAL=1
HOST=127.0.0.1
PORT=8080
OPS_DEFAULT_NAMESPACE=kubeclaw
ARGOCD_NAMESPACE=argocd
KUBERNETES_API_URL=https://REPLACE_WITH_HOST_TAILSCALE_IP:6443
KUBERNETES_CA_FILE=/etc/kubeclaw-ops/kube-ca.crt
KUBERNETES_TOKEN_FILE=/var/lib/kubeclaw-ops/kubernetes-token
OPS_MCP_BEARER_TOKEN_FILE=/etc/kubeclaw-ops/client-token
